#mobile_footer {
  display: grid;
  grid-auto-flow: row;
  padding-bottom: 50px;

  p {
    font-weight: bold;
    justify-self: center;
    color: $font_color;
    font-family: $font_family;
  }
}

#gmap {
  justify-self: center;
  align-self: center;
  width: 75vw;
  height: 25vh;
}

#nav_bar {
  display: grid;
  grid-auto-flow: column;
  margin-top: 15px;
  margin-bottom: 10px;

  a {
    justify-self: center;
    align-self: center;
  }

  img {
    width: 35px;
    height: 35px;
  }
}

#copyright {
  color: $font_color;
  font-family: $font_family;
}

@media only screen and (min-width: 1024px) {
  #mobile_footer {
    margin-left: 37.5vw;
    width: 25vw;
    height: 15vh;
  }
}
