@import "global";
@import "header";
@import "footer";

#contact_us {
  display: grid;
  margin-left: 12.5vw;
  place-items: center;
  width: 75vw;
  font-family: $font_family;
  color: $font_color;
}

.about_us {
  display: grid;
  place-items: center;
  padding-bottom: 15px;
  color: $main_color;
}

#container {
  display: grid;
}

.hours {
  display: grid;
  place-items: center;

  h2 {
    color: $main_color;
  }
}

.seperating_line {
  width: 80%;
  margin-left: 10%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.staff {
  display: grid;
  grid-auto-flow: row;
  place-items: center;

  h5 {
    color: $main_color;
  }

  img {
    border: 1px solid grey;
    margin-top: 10px;
    width: 75vw;
  }
}

.gallery_pictures {
  display: grid;
  grid-auto-flow: row;
  place-items: center;

  img {
    border: 1px solid grey;
    width: 75vw;

    margin-top: 5px;
    margin-bottom: 5px;
  }
}
