@import "global";
@import "header";
@import "footer";

hr {
  color: grey;
  width: 75%;
  margin-left: 12.5%;
  margin-top: 25px;
  margin-bottom: 25px;
}

#menu_top {
  display: grid;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25vw;
  width: 50vw;

  h1 {
    padding-bottom: 6px;
    border-bottom: white solid 2px;
  }
}

.menu_container {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-left: 10%;
  width: 80%;
  row-gap: 12px;
  column-gap: 8px;
  overflow: hidden;
}

#menu_info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 10px;
  width: 97%;
}

#menu_info_special {
  display: grid;
  grid-auto-flow: row;
  padding-top: 10px;
  width: 97%;
}

.menu_item {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  padding: 0px;

  img {
    width: 55vw;
    max-height: 200px;
    object-fit: cover;
  }

  h4 {
    padding-bottom: 16px;
  }
}

.item_size {
  justify-self: center;
  align-items: center;
}

.item_price {
  color: $main_color;
  font-style: italic;
  font-weight: bolder;
  justify-self: center;
  align-items: center;
}

input[type="radio"] {
  display: none;
}

label {
  @include hover;
  margin: 6px;
}

label:nth-of-type(1) {
  margin-left: 21%;
}

#Pizza:checked ~ section > #pizza_container {
  display: grid;
}

#Pasta:checked ~ section > #pasta_container {
  display: grid;
}

#Drinks:checked ~ section > #drinks_container {
  display: grid;
}

#Starter:checked ~ section > #starter_container {
  display: grid;
}

@media only screen and (min-width: 1024px) {
  .menu_container {
    width: 50%;
    margin-left: 25%;
    padding-bottom: 20px;
  }
  hr {
    width: 60vw;
    margin-left: 20vw;
  }
}
