@import "global";
@import "header";
@import "footer";

hr {
  width: 65%;
  margin-left: 17.5%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.seperating_line {
  width: 65%;
  margin-left: 17.5%;
  margin-top: 25px;
  margin-bottom: 25px;
}

#desktop {
  display: none;
}

.top {
  display: grid;
  place-items: center;
  color: $main_color;
}

#mobile_main_body {
  display: grid;
  position: relative;
  grid-auto-flow: row;
  place-items: center;
  row-gap: 30px;
  max-width: 75%;
  margin-left: 12.5%;

  img {
    width: 100%;
    height: 35vh;
    align-self: center;
    justify-self: center;
    transition: 0.2s ease-in-out;
    filter: blur(5px);
  }

  img:hover {
    filter: blur(4px);
  }

  a {
    border: white solid 2px;
    max-width: 350px;
    width: 100%;
    height: 100%;
  }
}

#mobile_main_body {
  p {
    font-family: $font_family;
    font-size: $font_size;
    color: white;
  }
  div {
    display: grid;
    pointer-events: none;
    z-index: 9;
    position: absolute;
    place-items: center;
    width: 75vw;
    height: 35vh;
  }
  a {
    max-width: 350px;
  }

  div:nth-child(1) {
    top: 5px;
  }

  div:nth-child(3) {
    top: calc(35vh + 40px);
    max-width: 350px;
  }
}

@media only screen and (min-width: 768px) {
  #mobile_main_body {
    max-width: 60%;
    margin-left: 20%;
  }
}

@media only screen and (min-width: 1024px) {
  #desktop {
    display: grid;
  }

  #mobile {
    display: none;
  }

  #desktop_main_body {
    display: grid;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 65vw;
    margin-left: 17.5vw;
  }

  .about_us {
    display: grid;
    place-items: center;
    padding-bottom: 15px;
    color: $main_color;
  }

  #container {
    display: grid;
    padding-bottom: 16px;
  }

  .hours {
    display: grid;
    place-items: center;
    padding-top: 15px;
    padding-bottom: 15px;

    h2 {
      color: $main_color;
    }
  }

  .seperating_line {
    width: 80%;
    margin-left: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .staff {
    display: grid;
    place-items: center;
    padding-top: 15px;
    padding-bottom: 15px;

    h3 {
      color: $main_color;
    }

    img {
      border: 1px solid grey;
      margin-top: 10px;
      width: 35vw;
    }
  }

  .staff_header {
    color: $main_color;
  }

  .staff_member {
    display: grid;
    grid-auto-flow: column;
    width: 45%;
    padding-top: 25px;
  }

  .float_left {
    margin-left: 10px;
    justify-self: center;
    align-self: center;
  }

  .gallery_header {
    display: grid;
    place-items: center;
    color: $main_color;
    padding-bottom: 18px;
    font-size: $font_size;
  }

  .gallery_pictures {
    display: grid;
    width: 65%;
    margin-left: 17.5%;
    grid-template-rows: 150px 150px 150px 150px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "one two three"
      "four four three"
      "five six three"
      "seven seven eight";

    grid-gap: 15px;

    img {
      border: 1px solid grey;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .gallery_pic_one {
      grid-area: one;
    }
    .gallery_pic_two {
      grid-area: two;
    }
    .gallery_pic_three {
      grid-area: three;
    }
    .gallery_pic_four {
      grid-area: four;
    }
    .gallery_pic_five {
      grid-area: five;
    }
    .gallery_pic_six {
      grid-area: six;
    }
    .gallery_pic_seven {
      grid-area: seven;
    }
    .gallery_pic_eight {
      grid-area: eight;
    }
  }
}
